{% extends 'base.html' %}

{% block content %}
<div class="container mt-5">
    <h1 class="text-center mb-5">Contact Us</h1>

    <div class="row text-center">
        <div class="col-lg-3 col-sm-6 mb-4">
            <div class="p-4 shadow-sm mydivstyle h-100">
                <h4><i class="fas fa-phone-square"></i> Contact</h4>
                <p class="text-danger font-weight-bold mt-3">
                    <a href="tel:+251985579244">+251 985 579 244</a>
                </p>
            </div>
        </div>
        <div class="col-lg-3 col-sm-6 mb-4">
            <div class="p-4 shadow-sm mydivstyle h-100">
                <h4><i class="fas fa-envelope"></i> Send Email</h4>
                <p class="text-danger font-weight-bold mt-3">
                    <a href="mailto:semateyonatan@gmail.com">semateyonatan@gmail.com</a>
                </p>
            </div>
        </div>
        <div class="col-lg-3 col-sm-6 mb-4">
            <div class="p-4 shadow-sm mydivstyle h-100">
                <h4><i class="fas fa-map-marker-alt"></i> Office Address</h4>
                <p class="text-danger font-weight-bold mt-3">
                    <a href="http://maps.google.com/maps?q=2P7C+338 Armed Forces Hospital, Addis Ababa">
                        Xorhailoch, Addis Ababa
                    </a>
                </p>
            </div>
        </div>
        <div class="col-lg-3 col-sm-6 mb-4">
            <div class="p-4 shadow-sm mydivstyle h-100">
                <h4><i class="fas fa-clock"></i> Office Time</h4>
                <p class="text-danger font-weight-bold mt-3">10 AM - 5 PM</p>
            </div>
        </div>
    </div>
</div>
{% endblock %}
