{% include 'base.html '%}
{% load static %}
{% include 'navigation.html' %}
<style>
    body {
        background-color: #cccccc;
    }
</style>
{% block content%}
<div id="carousel-slider" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
        <li data-target="#carousel-slider" data-slide-to="0" class="active"></li>
        <li data-target="#carousel-slider" data-slide-to="1"></li>
        <li data-target="#carousel-slider" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="images/slider_1_1.jpg" class="d-block w-100" alt="...">
            <div class="carousel-caption text-white">
                <h2>postoperative Care</h2>
                <p>post positive care is ,kshglkjgldkjfgldkjgldkjg.dgc,nbkc
                    jhfkhgkdnglkndfg
                    ksdfk,sjhlsknflsios;kf.dlyokfns
                </p>
                <button class="btn btn-light"><a href="#departments" class="nav-link"> see All Services</a></button>
            </div>
        </div>
    </div>
    <div class="carousel-item">
        <img src="images/slider_2_1.jpg" class="d-block w-100" alt="...">
        <div class="carousel-caption text-white">
            <div class="background-1">
                <h2>Surgery</h2>
                <p>Surgery is a medical specialty that uses operative manual and instrumental techniques on aperson
                   to investigate or treate a pathological condition such as a disease or injury, to help improve
                bodly function or appearance or to repair unwanted repured areas.
                </p>
                <button class="btn btn-light"><a href="#departments" class="nav-link">See All Services</a></button>
            </div>
        </div>
    </div>
    <div class="carousel-item">
        <img src="images/slider_3.1.jpg" class="d-block w-100" alt="...">
        <div class="carousel-caption text-white">
            <div class="background-1">
                <h2>Neonatal intensive care unit</h2>
                <p> A neonatal intensive care unit, also known as intensive care nusrsery, is an intensive care
                    unit speciallizing in the care of ill or premature newborn infants. neonatal refers to the first
                    28 days of life. Neonatal care, as known  as specialized nurseries
                </p>
                <button class="btn btn-light"><a href="#departments" class="nav-link">See All Services</a></button>
            </div>
        </div>
    </div>
    <a class="carousel-control-prev" href="#carousel-slider" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">previous</span>
    </a>
    <a class="carousel-control-next" href="#carousel-slider" role="button" data-slide="next">
        <span class="carousel-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>
<!------------------------ Introduction section------------------->
<dov class="container-fluid">
    <div class="row">
        <div class="col-md-4">
            <img src="images/1_1_1_1.png">
        </div>
        <div class="col-md-4" id="intro-text">
            <h1 class="text-center">
                <h1 class="text-center">welcome to hospital management system</h1>
            </h1>
            <p class="text-justify">
                <h5>Hospital Management system is asystem where you can take any type of services.
                    It is located in Tulsipur Dang. It provides different types of servics likeradiography, different types sergons with
                    highly reputed doctors.</h5>
                </p>
                <img src="images/sign1.png">
            </div>
            <div class="col-md-4">
                <div class="container-fluid">
                    <br>
                    <button class="btn btn-lg btn-block"><a href="#about" class="nav-link"><i
                        class="fa fa-calendar-minus-o"></li>&nbsp;&nbsp;&nbsp;&nbsp;Request
                        Appointments</a></button>
                    <br>
                    <button class="btn btn-lg btn-block"><a href="#doctors" class="nav-link"><i
                        class="fa fa-user-md"></i>&nbsp;&nbsp;&nbsp;&nbsp;Find
                        Doctors</a></button>
                    <br>
                    <button class="btn btn-lg btn-block"><a href="#about" class="nav-link"><i
                        class="fa fa=phone"></li>&nbsp;&nbsp;&nbsp;&nbsp;Location</a></button>
                    <br>
                    <button class="btn btn-lg btn-block"><a href="#about" class="nav-link"><i
                        class="fa fa-phone"></i>&nbsp;&nbsp;&nbsp;&nbsp;Emergency
                        Contact</a><button>
                        </div>
                    </div>
                </div>
            </div>
            <!------- introduction section End----------->

            <!-----medical services------------->
<div class="container-fluid" id="departments">
    <div class="row">
        <div class="col-md-12">
            <h4 class="text-center text-primary">Departments</h4>
            <h1 class="text-center">Medical services</h1>
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="row owl-carousel owl-theme">
        <div class="card shadow text-center items" style="height: 159px;">
            <div class="card-img">
                <img src="icons/icons8-uterus-40.png"
                    style="margin-left: auto; margin-right: auto; width: 25%; padding-top: 5px;">
            </div>
            <div class="card-body">
                <p class="card-text">Gynecokogist and obstererician</p>
            </div>
            <div class="card shadow text-center items" style="height: 159px;">
                <div class="card-img">
                    <img src="icons/icons8-x-ray-48.png"
                        style="margin-left:auto; margin-right: auto; width: 25%; padding-top: 5px;">
                </div>
                <div class="card-body">
                    <p class="card=text">Physician</p>
                </div>
            </div>

<!---------medical services end ----->

<!------other services sectioin Beginning------->

    <div class="container-fluid" id="services">
        <div class="row">
            <div class="col-md-12">
            <h1 class="text=center">other Services</h1>
            </div>
        </div>
        <div class="row owl-carousel owl-theme">
            <div class="card shadow text-center items">
                <div class="card-img">
                <img src="" alt="" style="margin-left: auto; margin-right: auto; width:25%;">
                </div>
                <div class="card-body">
                <p class="card-text">Emergency</p>
                </div>
            </div>
            <div class="card shadow text-center items">
                <div class="card-img">
                <img src="" alt="" style="margin-left: auto; margin-right: auto; width: 25%;">
                </div>
                <div class="card-body">
                <p class="card-text">Pharmacy</p>
                </div>
            </div>
            <div class="card shadow text-center items">
                <div class="card-img">
                    <img src="" alt="" style="margin-left:auto; margin-right:auto; width: 25%;">
                </div>
                <div class="card-body">
                <p class="card-text">USG</p>
                </div>
            </div>
            <div class="card shadow text-center items">
                <div class="card-img">
                    <img src="" alt="" style="margin-left: auto; margin-right:auto; width25%;">
                </div>
                <div class="card-body">
                    <p class="card-text">Endoscopy</p>
                </div>
            </div>
            <div class="card shadow text-center items">
                <div class="card-img">
                    <img src="" alt="" style="margin-left: auto; margin-right:auto; width25%;">
                </div>
                <div class="card-body">
                    <p class="card-text">ECHOServices</p>
                </div>
            </div>
            <div class="card shadow text-center items">
                <div class="card-img">
                    <img src="" alt="" style="margin-left: auto; margin-right:auto; width25%;">
                </div>
                <div class="card-body">
                    <p class="card-text">Colonoscopy</p>
                </div>
            </div>
            <div class="card shadow text-center items">
                <div class="card-img">
                    <img src="" alt="" style="margin-left: auto; margin-right:auto; width25%;">
                </div>
                <div class="card-body">
                    <p class="card-text">Digital X-Ray</p>
                </div>
            </div>
            <div class="card shadow text-center items">
                <div class="card-img">
                    <img src="" alt="" style="margin-left: auto; margin-right:auto; width25%;">
                </div>
                <div class="card-body">
                    <p class="card-text">Lab</p>
                </div>
            </div>
            <div class="card shadow text-center items">
                <div class="card-img">
                    <img src="" alt="" style="margin-left: auto; margin-right:auto; width25%;">
                </div>
                <div class="card-body">
                    <p class="card-text">Coloscopy</p>
                </div>
            </div>
        </div>
    </div>  
   
       

   
        <!----END OF OTHER SERVICES-------->
            <div class="col-md-12">
                <h1 class="text-center text-primary">Our Team of Experts</h1>
            </div>
            <div class="carousel-inner">
                <img src="" style="max-width: 100px;">
            </div>
        <!-------meet our team section ------->
            <div class="container-fluid" id="doctors">
                <div class="row">
                    <div class="col-md-12">
                        <h4 class="text-center text-primary">Meet Our Team</h4>
                        <h1 class="text-center">Specialist Doctors</h1>
                    </div>
                </div>
                <div class="row owl-carousel owl-theme">
                    <div class="card shadow text-center items">
                        <div class="card-body profile-card">
                            <img class="img-thumbnail rounded-circle border-0" src="">
                            <h4 class="card-title" style="font-size: 18px;">Dr.xyz</h4>
                            <h6 class="card-subtitle">Senior Consultant Surgeon</h6>
                            <p class="card-text">MBBS,MS(TU),FMAS,DMAS (WLH)</P>
                            <a href="#" class="card-link"><i class="fa fa-facebook"></li></a>
                            <a href="#" class="card-link"><i class="fa fa-instagram"></li></a>
                            <a href="#" class="card-link"><i class="fa fa-linkedin"></li></a>
                        </div>
                    </div>
                    <div class="card shadow text-center items">
                        <div class="card-body profile-card">
                            <img class="img-thumbnail rounded-circle border-0" src="images/">
                            <h4 class="card-title" style="font-size: 18px;">Dr. Lucky sharma</h4>
                            <h6 class="card-subtitle">Gynecologist And Obstetrician</h6>
                            <p class="card-text">MBBS,MD (NMC)</P>
                            <a href="#" class="card-link"><i class="fa fa-facebook"></li></a>
                            <a href="#" class="card-link"><i class="fa fa-instagram"></li></a>
                            <a href="#" class="card-link"><i class="fa fa-linkedin"></li></a>
                        </div>
                    </div>
                    <div class="card shadow text-center items">
                        <div class="card-body profile-card">
                            <img class="img-thumbnail rounded-circle border-0" src="">
                            <h4 class="card-title" style="font-size: 18px;">Dr.abc</h4>
                            <h6 class="card-subtitle">Orthopedic Surgeon</h6>
                            <p class="card-text">MBBS,MS Orthopedic</P>
                            <a href="#" class="card-link"><i class="fa fa-facebook"></li></a>
                            <a href="#" class="card-link"><i class="fa fa-instagram"></li></a>
                            <a href="#" class="card-link"><i class="fa fa-linkedin"></li></a>
                        </div>
                    </div>
                    <div class="card shadow text-center items">
                        <div class="card-body profile-card">
                            <img class="img-thumbnail rounded-circle border-0" src="images/">
                            <h4 class="card-title" style="font-size: 18px;">Dr.Dev</h4>
                            <h6 class="card-subtitle">Consultant physician</h6>
                            <p class="card-text">MBBS,MD (Internal Medicine)</P>
                            <a href="#" class="card-link"><i class="fa fa-facebook"></li></a>
                            <a href="#" class="card-link"><i class="fa fa-instagram"></li></a>
                            <a href="#" class="card-link"><i class="fa fa-linkedin"></li></a>
                        </div>
                    </div>

                </div>
            </div>
   
                            
                        


    

{% endblock content %}
{% include 'footer.html' %}